# Local environment settings
digitaloxford/settings/local.py

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Misc
.DS_Store
*.idea/
*.pyc
*.swp
/.cache/
/.coverage
/.pytest_cache/
/.tox/
/*.egg/
/build/
/docs/_build/
/MANIFEST
/node_modules/
/wagtail.egg-info/
npm-debug.log*
__pycache__
/logfile.txt

# Distribution / packaging
.eggs/
.installed.cfg
.Python build/
*.egg
*.egg-info/
*.manifest
*.spec
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
sdist/
var/
wheels/
/static

# Environments
.env
.venv
env.bak/
env/
ENV/
venv.bak/
venv/

# vscode
.vscode

# Data
db.sqlite3
/media
