html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: ms(0);
    line-height: ms(1);
    font-family: $font-family-body;
    color: $black;
    background-color: $white;
}

h1 {
    font-size: ms(2);
    line-height: ms(3);
    margin: 0 0 ms(1) 0;
}

h2 {
    font-size: ms(1);
    line-height: ms(2);
    margin: ms(1) 0 ms(-1) 0;
}

h3 {
    font-size: ms(1);
    line-height: ms(2);
    margin: ms(1) 0 ms(-1) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-header;
    font-weight: normal;
    color: $green;
}


p {
    margin: 0 0 20px 0;
}

figure {
    margin: 0 0 0 0;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

time {
    display: block;
}

table {
    width: 100%;

    & thead {
        text-align: left;
    }

    & tr {
        & th[scope=col] {
            text-align: left;
        }

        & th[scope=row] {
            text-align: right;
        }

        & th,
        & td {
            padding: 5px 10px 5px 10px;
        }
    }
}

/* Utilities */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.list-reset {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style-type: none;
}

.block {
    width: 100%;
    max-width: 1200px;
}

.responsive-object {
    position: relative;

    & iframe,
    & object,
    & embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* Sitewide link defaults */

a:link {
    color: $green;
    text-decoration: underline;
    text-underline-offset: 4px;
}
a:visited {
    color: $green;
    text-decoration: underline;
    text-underline-offset: 4px;
}

a:hover {
    color: $green;
    background-color: $yellow;
    text-decoration: underline;
}

a:active {
    color: $green;
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0 20px;
    color: $white;
    background-color: $green;

    & .logo {
        width: 6rem;

        & a {
            display: block;

            &:hover {
                background-color: transparent;
            }

            & img {
                max-width: 100%;
            }
        }

    }
}


.navigation-primary {
    text-align: center;
    background-color: $yellow-lighter;
    border-top: 1px solid $green;
    border-bottom: 1px solid $green;
}

ul.navigation {
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style-type: none;

    & li {
        margin-bottom: 0;

        & a {
            display: block;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            font-size: ms(0);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                background-color: transparent;
            }
        }

        &.active a {
            text-decoration: underline;
        }
    }
}

.strapline {
    text-align: center;
    font-size: ms(1);
    line-height: ms(2);
}

.layout-main {
    margin: 20px 0 20px 0;
    line-height: ms(2);
    display: grid;
    grid-template-columns: [full-start] 30px [main-start] 1fr [main-end] 30px [full-end];
    flex-grow: 1;
    align-content: start;

    &>* {
        grid-column: main;
    }
}

.intro {
    font-size: ms(1);
}

body.home {
    & .layout-main {
        margin-top: 0;
    }
}

.layout-main .figure-image.width-full {
    grid-column: full;
}

/* Messages */
.messages {
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;

    & li {
        padding: .5rem 1rem;

        &.info {
            color: $messages-info-color;
            background-color: $messages-info-bg;
        }

        &.success {
            color: $messages-success-color;
            background-color: $messages-success-bg;
        }

        &.warning {
            color: $messages-warning-color;
            background-color: $messages-warning-bg;
        }

        &.error {
            color: $messages-error-color;
            background-color: $messages-error-bg;
        }
    }
}



/* General */
.figure-image.width-full {
    margin-bottom: 20px;
}

.figure-image img {
    display: block;
    max-width: 100%;
    margin: 1rem auto 1rem auto;
    border-width: 1px;
    border-style: solid solid solid solid;
    border-color: $black;
}

.figure-image.width-full.overlay {
    position: relative;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-column-gap: 20px;
    min-height: 300px;
}

.overlay .overlay-text {
    grid-column: 2;
    align-self: end;
    background-color: rgba($light-grey, .85);
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

button {
    color: $green;
    background-color: $yellow;
    padding: 0 15px 0 15px;
    border: 1px solid $green;

    &:hover {
        background-color: $white;
    }

    &.small {
        font-size: ms(-1);
        padding: 4px 10px 2px 10px;
    }

    &.dismiss {
        border: none;
        color: $green;
        background-color: $light-grey;

        &:hover {
            background-color: $grey;
        }
    }

    &.danger {
        border: none;
        color: $messages-error-color;
        background-color: $messages-error-bg;

        &:hover {
            color: $messages-error-bg;
            background-color: $messages-error-color;
        }
    }
}


.button a {
    display: block;
    width: 16rem;
    padding: 1rem 2rem;
    margin: 3rem auto 3rem auto;
    font-size: ms(2);
    background-color: $green;
    border: 1px solid $green;
    color: $white;
    border-radius: 3px;
}

.button a:hover {
    text-decoration: none;
    background-color: $white;
    color: $green;
}

/* Forms */
form {
    margin: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
    }

    & p,
    & div {
        margin-bottom: 0;
    }

    & label {
        font-weight: 700;
        display: block;
        margin-bottom: 5px;
    }

    & input[type="text"],
    & select {
        border: 1px solid $grey;
        background-color: $white;
    }

    & .input-container {
        &.checkbox {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 6px;

            & * {
                margin: 0 0 0 0;
            }

            & label {
                font-weight: normal;
            }
        }
    }

    & .helptext {
        font-size: ms(0);
        margin-top: ms(-1);
        display: block;

        & ul {
            margin-bottom: ms(0);
            padding-left: 0;
            list-style-type: none;
        }
    }

    .htmx-indicator {
        display: none;
    }

    & .htmx-request .htmx-indicator {
        display: block;
        width: ms(3);
        height: ms(3);
    }

    & .htmx-request .htmx-indicator:after {
        content: " ";
        display: block;
        width: ms(3);
        height: ms(3);
        border-radius: 100%;
        border: 5px solid $messages-info-color;
        border-color: $messages-info-color transparent $messages-info-color transparent;
        animation: rotating-split-ring 2s linear infinite;
    }

    @keyframes rotating-split-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.errorlist {
    display: flex;
    flex-direction: column;
    color: $messages-error-color;
    background-color: $messages-error-bg;

    & li {
        padding: .5rem 1rem;

    }
}

/* Jobs */
body.jobs {
    & .intro {
        padding: ms(0) ms(0) ms(0) ms(0);
        margin-bottom: ms(1);
        border: 1px solid $light-grey;
        background-color: $lighter-grey;

        & p:last-child {
            margin-bottom: 0;
        }
    }
}

.jobs-list {
    padding: 0 0 0 0;
    list-style-type: none;

    &>li {
        margin-bottom: ms(4);

        & .job-title {
            margin: 0 0 ms(-2) 0;
        }

        & p {
            margin: 0 0 ms(-2) 0;
        }
    }
}

.job-meta {
    font-size: 14px;
    padding: 0 0 0 0;
    margin-bottom: ms(-1);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    & dt {
        display: inline-block;
        margin: 0 0 0 0;
    }

    & dd {
        margin: 0 0 0 0;
        display: inline-block;
        font-weight: bold;
    }
}

.job-poster {
    font-size: 14px;
    margin: 0 0 0 0;
}

.page-job {
    & h1 {
        margin-bottom: 0;
    }

    & .job-actions {
        padding: 0 0 0 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}

/* Links */
.filters {
    margin: ms(1) 0 ms(2) 0;
    border-bottom: 1px solid $light-grey;
}

ul.filter-list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    & li {
        & a {
            display: inline-block;
            padding: 2px 5px 2px 5px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &.active {
            & a {
                background-color: $light-grey;
            }
        }
    }
}

ul.links {
    display: flex;
    flex-direction: column;
    gap: ms(3);

    & .link {
        & h2 {
            margin-top: 0;
            margin-bottom: ms(-1);
            font-size: ms(1);
            display: inline-block;
        }

        & a {
            display: flex;
            flex-direction: row;
            align-items: start;
            column-gap: ms(2);

            & figure {
                flex: 0 0 100px;
            }
        }

        & .categories {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: ms(-1);
            font-size: ms(0);
            margin-bottom: ms(-1);

            & h3 {
                margin: 0 0 0 0;
                padding: 0 0 0 0;
                font-size: ms(0);
                color: $dark-grey;
            }
        }
    }
}

/* Pagination */
.pagination-count {
    text-align: center;
    margin-bottom: 0;
}

.pagination {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    justify-content: center;
    font-size: ms(1);
    padding: 0 0 0 0;

    & .active {
        & a:link {
            color: $green;
            text-decoration: none;
        }
    }
}

/* Footer */
.vcard .name,
.vcard,
.contact {
    display: inline;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 10px 20px;
    border-top: 1px solid $green;
    background-color: $yellow-lighter;

    & .social {
        & a {
            display: block;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            font-size: ms(0);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                background-color: transparent;
            }
        }

        &.active a {
            text-decoration: underline;
        }
    }

    & .not-by-ai {
        height: ms(3);

        & a {
            & img {
                max-width: 120px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: ms(3);
        line-height: ms(4);
    }

    h2 {
        font-size: ms(2);
        line-height: ms(3);
    }

    h3 {
        font-size: ms(1);
        line-height: ms(2);
    }

    header {
        & .logo {
            width: 10rem;
        }
    }


    ul.navigation li a {
        padding: 0.75rem 1rem 0.75rem 1rem;
        font-size: ms(1);
    }

    .layout-main {
        margin: 40px 0 40px 0;
    }

    .layout-main,
    .figure-image.width-full.overlay {
        grid-template-columns: [full-start] 1fr [main-start col-left-start] minmax(min-content, 40ch) [col-left-end col-right-start] minmax(min-content, 40ch) [col-right-end main-end] 1fr [full-end]
    }

    .figure-image.width-full {
        margin-bottom: 40px;
    }

    /* Links */
    ul.links {
        & .link {
            & a {

                & figure {
                    flex: 0 0 150px;
                }
            }
        }
    }

    footer {
        & .social {
            & a {
                font-size: ms(1);
            }
        }
    }

}
