// Colours
$white: rgb(255, 255, 255);
$deep_black: rgb(0, 0, 0);
$black: rgb(51, 51, 51);
$messages-info-bg: #D9EDF7;
$messages-info-color: #31708F;
$messages-success-bg: #DFF2BF;
$messages-success-color: #4F8A10;
$messages-warning-bg: #FEEFB3;
$messages-warning-color: #9F6000;
$messages-error-bg: #FFBABA;
$messages-error-color: #D8000C;

// Digital Oxford
$dark-grey: #4e4e4e;
$grey: #828282;
$light-grey: #e5e6ea;
$lighter-grey: #eff0f2;
$green: #21383A;
$teal: #6fbec5;
$yellow-darker: #c5b303;
$yellow-lighter: #e5d003;
$yellow: #E8E316;
$gold: #c5b303;

// Typography
$font-family-body: "PT Sans", Helvetica, sans-serif;
$font-family-header: 'Montserrat', sans-serif;

$modularscale: (
    base: 1rem,
    ratio: 1.25 // 4:5 Major Third
);
