{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Up To The Jobs Board" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up To The Jobs Board" %}</h1>

    <p>{% blocktrans %}If you would like to advertise positions and opportunities available in the Oxfordshire area on this site then please sign up for our jobs board. The board is open to individuals, companies, and recruitment agents alike.{% endblocktrans %}
    </p>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>

    <h2>{% trans "The Details" %}</h2>

    <ul>{% blocktrans %}
        <li>This is a free service offered by Digital Oxford, with the level of service that entails. We will be adding more features as we go along, but there is no promise on timing of those features.</li>
        <li>You'll get a profile page with a text description and basic contact details.</li>
        <li>There is no facility for people to apply for positions via Digital Oxford, and there won't ever be. Each position has a field for a link to your own site for people to apply.</li>
        <li>Your initial signup and all job posts will go into a moderation queue to prevent spam. We're pretty quick at turning things around though.</li>
        <li>There is no tracking or analytics on this site apart from basic web server logs. If you want to know if this is an effective method of promotion check your referrer logs for digitaloxford.com.</li>
        </ul>{% endblocktrans %}

        <p>{% blocktrans %}If you have any other questions then you can drop us an email at <a href="mailto:hello@digitaloxford.com">hello@digitaloxford.com</a> or pop into the #digitaloxford channel on Slack.{% endblocktrans %}

            <h2>{% trans "Sign Up" %}</h2>

            <p>{% blocktrans %}This is a multistage process{% endblocktrans %}

                <ol>{% blocktrans %}
                    <li>Fill in the details below and you'll be sent an email to confirm your address.</li>
                    <li>Click on the link in that email and confirm your address by clicking the button on the page.</li>
                    <li>Your signup will be reviewed to make sure it's all above board.</li>
                    <li>Once approved you'll receive a confirmation email and you'll be able to sign in.</li>
                    </ol>{% endblocktrans %}

                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button type="submit">{% trans "Sign Up" %}</button>
                    </form>

{% endblock %}
