{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}page-job {{ page.title|slugify }}{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <dl class="job-meta">
        <div class="job-closing-date"><dt>Closing date:</dt> <dd>{{ page.closing_date|date:"jS F Y"}}</dd></div>
        <div class="job-type"><dt>Job Type:</dt> <dd>{{ page.get_job_type_display }}</dd></div>
        <div class="job-salary"><dt>Salary / Rate:</dt> <dd>{{ page.salary}}</dd></div>
        <div class="job-poster"><dt>Posted by</dt> <dd><a href="{{ page.get_parent.url }}">{{ page.get_parent.title }}</a></dd></div>
    </dl>

    <h2 class="job-short-description">
        {{ page.short_description }}
    </h2>

    <div class="job-description">
        {{ page.description|richtext }}
    </div>


    <h3>Actions</h3>
    <ul class="job-actions">
        <li><a href="{{ page.job_link }}">Apply for position</a> (external link)</li>
        <li><a href="mailto:{{ page.email }}">Email for more information</a> (email link)</li>
    </ul>

{% endblock %}
