{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{{ page.title|slugify }}{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div>
        {{ page.description|richtext }}
    </div>

    {% if page.website or page.email or page.phone %}
        <h2>Contact details</h2>
        <ul>
            {% if page.website %}
                <li>Website: <a href="{{ page.website }}">{{ page.website }}</a></li>
            {% endif %}
            {% if page.email %}
                <li>Email: <a href="mailto:{{ page.email }}">{{ page.email }}</a></li>
            {% endif %}
            {% if page.phone %}
                <li>Phone: {{ page.phone }}</li>
            {% endif %}
            {% if page.address1 or page.address2 or page.city or page.postal_code %}
                <li>
                    {% if page.address1 %}
                        {{ page.address1 }},
                    {% endif %}
                    {% if page.address2 %}
                        {{ page.address2 }},
                    {% endif %}
                    {% if page.city %}
                        {{ page.city }},
                    {% endif %}
                    {% if page.postal_code %}
                        {{ page.postal_code }}
                    {% endif %}
                </li>
            {% endif %}

        </ul>
    {% endif %}


    <h2>Jobs</h2>
    {% if jobs.object_list.count %}
        <ul class="jobs-list">
            {% for job in jobs %}
                <li>
                    <h3 class="job-title"><a href="{% pageurl job %}">{{job.title}}</a></h3>
                    <ul class="job-meta">
                        <li class="job-closing-date">Closing date: <span>{{ job.closing_date|date:"jS F Y"}}</span></li>
                        <li class="job-type">Job Type: <span>{{ job.get_job_type_display }}</span></li>
                        <li class="job-salary">Salary / Rate: <span>{{ job.salary}}</span></li>
                    </ul>
                    <p class="job-short-description">{{ job.short_description }}</p>
                </li>
            {% endfor %}
        </ul>

        {% if jobs.paginator.num_pages > 1 %}
            <p class="pagination-count">Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}</p>
            <ul class="pagination">
                {% if jobs.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ jobs.previous_page_number }}" class="page-link">
                            <span>&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for page_num in jobs.paginator.page_range %}
                    <li class="page-item {% if page_num == jobs.number %} active{% endif %}">
                        <a href="?page={{ page_num }}" class="page-link">
                            {{ page_num }}
                        </a>
                    </li>
                {% endfor %}

                {% if jobs.has_next %}
                    <li class="page-item">
                        <a href="?page={{ jobs.next_page_number }}" class="page-link">
                            <span>&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>

        {% endif %}
    {% else %}
        <p>Hmm, there aren't any jobs right now, maybe try again later.</p>
    {% endif %}

{% endblock %}
