{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{{ page.title|slugify }}{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <p><a href="{{ page.link }}">{{ page.link }}</a></p>

    {% if page.link_image %}
        {% image page.link_image fill-800x800 as tmp_image %}
        <div><img src="{{ tmp_image.url }}" alt="{{ teammember.title }}"/></div>
    {% endif %}

    {% if page.description %}
        <p class="description">{{ page.description }}</p>
    {% endif %}

    {% if page.testimonial %}
        <blockquote>
            <p class="testimonial">{{ page.testimonial }}</p>
        </blockquote>
    {% endif %}

{% endblock %}
