{% extends "wagtailmetadata/parts/tags.html" %}
{% load wagtailsettings_tags %}
{% get_settings %}

{% block twitter %}
{{ block.super }}
<meta name="twitter:site" content="@digitaloxford" />
<meta name="twitter:creator" content="@digitaloxford" />
{% endblock twitter %}
{% block opengraph %}
{{ block.super }}
{% endblock opengraph %}
{% block meta %}
<meta itemprop="url" content="{{ object.get_meta_url }}" />
<meta itemprop="name" content="{{ object.get_meta_title }}">
<meta itemprop="description" content="{{ object.get_meta_description }}" />
{% if meta_image %}
<meta itemprop="image" content="{{meta_image}}" />{% endif %}
{% endblock meta %}
