{% extends "base.html" %}

{% block body_class %}{{ page.title|slugify }}{% endblock %}

{% block content %}

<h2>No Entry</h2>
<p><code>dennis-nedry-nuh-uh-uh.gif</code></p>
<p>Sorry, you're not allowed in here.</p>
<p>If you're looking for information, try <a href="https://digitaloxford.com/">the front page</a>, or the navigation at the top.</p>
<p>If you've forgotten your details, <a href="mailto:hello@digitaloxford.com">get in touch</a>.</p>
<p>If you're trying to break in, stop that.</p>

{% endblock %}
