{% load static wagtailuserbar sass_tags menu_tags i18n %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if request.in_preview_panel %}
            <base target="_blank">
        {% endif %}

        <!-- Metadata -->
        {% include "wagtailseo/meta.html" %}

        <!-- Icon and Manifest -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#ffc40d">
        <meta name="theme-color" content="#ffffff">
        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans&display=swap" rel="stylesheet">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% sass_src 'main.scss' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <header class="layout-header">
            <div class="logo">
                <a href="/"><img src="{% static 'img/logo-do-white.png' %}" alt="Digital Oxford"></a>
            </div>
            <p class="strapline">A technology, design, and creative community for Oxfordshire</p>
        </header>

        {% main_menu %}

        <main class="layout-main">

            {% if messages %}
                <div class="message-container">
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% block content %}{% endblock %}

        </main>

        <footer class="layout-footer">

            {% flat_menu 'secondary_menu' %}

            <p class="social"><a href="https://mastodon.org.uk/@digitaloxford" rel="me">Find us on Mastodon</a></p>

            <p class="copyright">&copy; {% now "Y" %} Digital Oxford</p>

            <p class="not-by-ai"><a href="https://notbyai.fyi"><img src="{% static 'img/not-by-ai.svg' %}" alt="Produced by a human, not by AI"></a></p>
        </footer>

        {% include "wagtailseo/struct_data.html" %}
        {% include "wagtailseo/struct_org_data.html" %}

        {% block extra_struct_data %}
        {% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/htmx.min.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'js/site.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>

</html>
