Django~=4.2.0
django-compressor~=4.5.0
django-filter==23.5
django-htmx~=1.19.0
django-sass-processor==1.2.1
django-template-partials==24.2
django_csp==3.8
django_extensions
libsass~=0.23.0
psycopg2~=2.9.0
python-dotenv~=1.0.0
wagtail~=5.2.0
wagtail-modeladmin~=2.0.0
wagtail-seo~=2.5.0
wagtailmedia~=0.15.0
wagtailmenus~=4.0.0
wheel
