Django~=3.2
django-allauth==0.51.*
django-anymail==8.6
django-compressor==4.1
django-htmx~=1.14.0
django-render-block==0.*
django-sass-processor==1.2.1
django_extensions
libsass==0.21.*
psycopg2==2.9.3
python-dotenv~=1.0.0
wagtail~=4.2.0
wagtail-seo==2.3.*
wagtailmenus>=3.1
wheel
