{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{{ page.title|slugify }}{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>
    <div class="filters">
        <h2>Filters</h2>
        <ul class="filter-list list-reset" data-hx-target="#events" data-hx-swap="outerHTML" data-hx-push-url="true">
            <li class="filter"><a href="{% pageurl page %}" data-hx-get="{% pageurl page %}" data-script="on click remove .active from <li.filter/>">All</a></li>
            {% for category in categories %}
                <li class="filter{% if page.filter_slug == category.slug %} active{% endif %}">
                    <a href="{% pageurl page %}category/{{ category.slug }}" data-hx-get="{% pageurl page %}category/{{ category.slug }}" data-script="on click remove .active from <li.filter/> then add .active to closest <li/>">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if events.object_list.count %}
        <ul class="events-list list-reset" id="events">
            {% for event in events %}
                <li class="event">
                    <h2 class="event-title"><a href="{{ event.url }}">{{ event.title }}</a></h2>
                    <p>{{ event.start }}</p>

                    {% if event.description %}

                        <div class="description">{{ event.description|richtext }}</div>

                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if events.paginator.num_pages > 1 %}

            <p class="pagination-count">Page {{ events.number }} of {{ events.paginator.num_pages }}</p>

            <ul class="pagination">
                {% if events.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ events.previous_page_number }}" class="page-link">
                            <span>&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for page_num in events.paginator.page_range %}
                    <li class="page-item {% if page_num == events.number %} active{% endif %}">
                        <a href="?page={{ page_num }}" class="page-link">
                            {{ page_num }}
                        </a>
                    </li>
                {% endfor %}

                {% if events.has_next %}
                    <li class="page-item">
                        <a href="?page={{ events.next_page_number }}" class="page-link">
                            <span>&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>

        {% endif %}
    {% else %}
        <p>Hmm, there aren't any events scheduled.</p>
    {% endif %}
{% endblock %}
