{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags partials %}

{% block body_class %}{{ page.title|slugify }}{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    <div class="filters">
        <form
            action="{{ page.url }}"
            method="get"
            class="filter-links"
            data-hx-target="ul.links"
            data-hx-swap="outerHTML"
            data-hx-get="{{ page.url }}"
            data-hx-push-url="true"
        >
            {{ filter.form.as_p }}

            <button type="submit">Filter</button>
            <div class="htmx-indicator"></div>
        </form>
    </div>

    {% if links %}
        {% partialdef links-results inline=True %}
            <ul class="links list-reset">
                {% for link in links %}
                    <li class="link">
                        <h2><a href="{{ link.link }}">{{ link.title }}</a></h2>
                        {% if link.categories %}
                            <div class="categories">
                                <h3>Categories:</h3>
                                <ul class="list-reset list-inline">
                                    {% for category in link.prefetched_categories %}
                                        <li><a href="{{ page.url }}?category={{ category.link_category.slug }}">{{ category.link_category.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="details">
                            {% if link.description %}
                                <p class="description">{{ link.description }}</p>
                            {% endif %}

                            {% if link.testimonial %}
                                <blockquote>{{ link.testimonial }}</blockquote>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endpartialdef %}
    {% else %}
        <p>Hmm, there are no links. Possibly something has gone wrong. Sorry about that.</p>
    {% endif %}
{% endblock %}
