{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{{ page.title|slugify }}{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>
    <div class="filters">
        <h2>Filters</h2>
        <ul class="filter-list list-reset">
            <li class="filter"><a href="{% pageurl page %}">All</a></li>
            {% for category in categories %}
                <li class="filter{% if page.filter_slug == category.slug %} active{% endif %}"><a href="{% pageurl page %}category/{{ category.slug }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% if page.get_children.count > 0 %}
        <ul class="links list-reset">
            {% for link in links %}
                <li class="link">
                    <a href="{{ link.link }}">
                        {% if link.link_image %}
                            {% image link.link_image height-400 as tmp_image %}
                            <img src="{{ tmp_image.url }}" alt="{{ teammember.title }}" />
                        {% endif %}
                        <h2>{{ link.title }}</h2>
                        {% if link.description %}
                            <p class="description">{{ link.description }}</p>
                        {% endif %}
                        {% if link.testimonial %}
                            <blockquote>{{ link.testimonial }}</blockquote>
                        {% endif %}
                    </a>
                </li>

            {% endfor %}
        </ul>
    {% else %}
        <p>Hmm, there are no links. Possibly something has gone wrong. Sorry about that.</p>
    {% endif %}
{% endblock %}
