{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{{ page.title|slugify }}{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    <search role="search">
        <form
            action="{{ page.url }}"
            method="get"
            class="filter-links"
        >
            {{ filter.form.as_p }}

            <button type="submit">Filter</button>

            <div class="htmx-indicator"></div>
        </form>
    </search>


    {% if links %}
        <ul class="links list-reset">
            {% for link in links %}
                <li class="link">
                    <a href="{{ link.link }}">

                        <div class="details">
                            <h2>{{ link.title }}</h2>

                            {% if link.description %}

                                <p class="description">{{ link.description }}</p>

                            {% endif %}

                            {% if link.testimonial %}

                                <blockquote>{{ link.testimonial }}</blockquote>

                            {% endif %}
                        </div>
                    </a>
                </li>

            {% endfor %}
        </ul>
    {% else %}
        <p>Hmm, there are no links. Possibly something has gone wrong. Sorry about that.</p>
    {% endif %}
{% endblock %}
